<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="__PACKAGE__"
    android:versionCode="1"
    android:versionName="1.0">

  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:xlargeScreens="true"/>

  <uses-sdk
      tools:overrideLibrary="com.snapchat.kit.sdk,com.snapchat.kit.sdk.login"
      android:minSdkVersion="19"
      android:targetSdkVersion="__APILEVEL__"/>

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name="com.tns.NativeScriptApplication"
      android:allowBackup="true"
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <!-- or 4481cfab-a872-41d6-984c-8e19502fe2f9 -->
    <meta-data android:name="com.snapchat.kit.sdk.clientId" android:value="5a6c0b6a-affe-4671-9f99-9a1d0de66bf1"/>
    <meta-data android:name="com.snapchat.kit.sdk.redirectUrl" android:value="nativescriptsnap://foo"/>

    <activity
        android:name="com.tns.NativeScriptActivity"
        android:label="@string/title_activity_kimera"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@style/LaunchScreenTheme">

      <meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme"/>

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name="com.tns.ErrorReportActivity"/>


    <activity android:launchMode="singleTask" android:name="com.snapchat.kit.sdk.SnapKitActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="nativescriptsnap" />
      </intent-filter>
    </activity>

  </application>
</manifest>
